@import "../../../../styles/globals.scss";
section#banner-event {
  @media screen and(max-width: $w1536) {
    #title-event {
      h2 {
        font-size: 6rem;
      }
    }
  }
  @media screen and(max-width: $w1280) {
    #title-event {
      h2 {
        font-size: 5rem;
      }
    }
  }
  @media screen and(max-width: $w1024) {
    padding: 5.5rem 8.2rem;
    background: url("../../../../assets/images/illustrations/points-events.svg")
        no-repeat 1% 5.7rem,
      url("../../../../assets/images/illustrations/points-events.svg") no-repeat
        100% 114% var(--gray-10);
    #title-event {
      h2 {
        font-size: 4rem;
      }
    }
  }
  @media screen and(max-width: $w934) {
    background: url("../../../../assets/images/illustrations/points-events.svg")
        no-repeat 1% 5.7rem,
      url("../../../../assets/images/illustrations/points-events.svg") no-repeat
        100% 104% var(--gray-10);
    #title-event {
      h2 {
        font-size: 3rem;
      }
    }
    #event-list-cards {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      margin-top: 2rem;
    }
  }

  @media screen and(max-width: $w425) {
    background: url("../../../../assets/images/illustrations/points-events.svg")
        no-repeat 10% 7.7rem,
      url("../../../../assets/images/illustrations/points-events.svg") no-repeat
        88% 96% var(--gray-10);
    background-size: 8rem;
    margin: 7rem auto 14rem;
    padding: 22.5rem 3.2rem 20rem;
    width: 100%;
    #title-event {
      h2 {
        font-size: 2.2rem;
      }
    }
  }
}
