@import "../../../../styles/globals.scss";
section#benefits {
	@media screen and (max-width: $w1280) {
		div.benefit {
			justify-content: space-between;
			.description {
				width: 48%;
				h2 {
					max-width: 76.9rem;
					font-size: 5.1rem;
				}

				p {
					max-width: 78.4rem;
					font-size: 3rem;
				}
			}

			> img {
				width: 50%;
			}
		}
	}
	@media screen and (max-width: $w1024) {
		margin-top: -8rem;
		div.benefit {
			justify-content: space-between;
			.description {
				width: 48%;
				h2 {
					max-width: 76.9rem;
					font-size: 3.8rem;
				}

				p {
					max-width: 78.4rem;
					font-size: 2.3rem;
				}
			}

			> img {
				margin-top: 3rem;
				width: 40%;
			}
		}
	}

	@media screen and (max-width: $w934) {
		margin: -8rem auto 7rem;
		div.benefit {
			justify-content: space-between;
			.description {
				width: 48%;
				h2 {
					max-width: 76.9rem;
					font-size: 2.2rem;
				}

				p {
					max-width: 78.4rem;
					font-size: 1.5rem;
				}
			}

			> img {
				width: 50%;
			}
		}
	}

	@media screen and (max-width: $w425) {
		width: 100%;
		background: none;
		padding: 0rem;
		margin: -8rem auto 7rem;
		div.benefit {
			width: 100%;
			flex-direction: column !important;
			align-items: center;
			justify-content: center;
			.description {
				margin-top: 0rem;
				width:100%;
				h2 {
					max-width: 76.9rem;
					font-size: 3.2rem;
					font-weight: 700;
					line-height: 4rem;
					margin-bottom: 1rem;
				}

				p {
					font-size: 1.8rem;
					font-weight: 400;
					line-height: 2rem;
					margin-bottom: 3.5rem;
				}
			}

			> img {
				width: 100%;
				margin-bottom: 4rem;
				margin-left: 0 !important;
				margin-bottom: 9rem;
			}
			&:first-child,
			&:last-of-type {
				flex-direction: row-reverse;
			}

			&:first-of-type + .benefit {
				margin-top: 0rem;
				> img {
					margin-left: 0rem;
					
				}
			}
		}
	}
}
