footer {
	height: 40rem;
	padding: 5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: url("../assets/images/illustrations/points-events.svg") no-repeat 1% 1rem,
		url("../assets/images/illustrations/points-events.svg") no-repeat 99% 90% var(--gray-1);

	p {
		font-family: "aller_lt";
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 150%;
		margin-top: 1rem;
		color: var(--gray-9);
	}
}
