header {
	height: 17rem;
	margin: 4.9rem 22.4rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	img#logo {
		height: 100%;
	}
	.menu-icon{
		display: none;
		width: 5rem;
		height: 5rem;
		background-color: var(--blue-1);	
		border-radius: 50%;
	}
	.menu-icon.active{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	nav {
		height: 100%;
		display: flex;
		align-items: center;
		ul {
			display: flex;
			align-items: center;
			align-content: center;
			gap: 9.8rem;
			font-family: 'Aller_Rg';

			li a {
				font-size: 2.4rem;
				color: var(--blue-1);
				transition: all 0.2s;

				&:hover {
					color: var(--blue-2);
				}
			}

			li:last-child a {
				border: 3px solid var(--blue-1);
				border-radius: 2.4rem;
				padding: 3rem 10rem;
				transition: all 0.2s;
			}

			li:last-child a:hover {
				background-color: var(--blue-1);
				color: var(--gray-2);
			}
		}
	}
}
