@import "../../../../styles/globals.scss";
header {
	@media screen and (max-width: $w1536) {
		height: 17rem;
		margin: 4.9rem 15.4rem;
	}
	@media screen and (max-width: $w1024) {
		.menu-icon {
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
		}
		nav {
			display: none;
		}
	}

	@media screen and (max-width: $w934) {
		margin: 4.9rem 5.4rem;
	}

	@media screen and (max-width: $w425) {
		margin: 4.9rem 3.4rem;
		img#logo {
			height: 80%;
		}
	}
}
